{% load  static %}
{% include  'top.html' %}

<div align="center">
<h1> 이미지 분석 하기   </h1>
 <form method="post" id="giminiForm" enctype="multipart/form-data">
 {% csrf_token %}
 <table  border="1" width="700">
 <tr><td>작성자</td><td><input  type="text"  name="name" id="name" ></td></tr>
 <tr><td>설명</td><td><input  type="text"  name="explain" id="explain" size = 40 ></td></tr>
 <tr><td>이미지</td><td><input  type="file"  name="file" id="fileInput" ></td></tr>
 <tr><td colspan="2" align="center"> <button type="submit">이미지 분석</button></td></tr>
 </table>
 </form>

{{img_name}}
 <hr>

    {% if result %}
        <h2>Analysis Result:</h2>
    <textarea cols="60"  rows = "14" >
        {{ result }}
    </textarea>
    {% endif %}
 {% if img_name %}
    <img src="{% static 'gemini/'|add:img_name %}"  width="200" height="200" >
{% else %}
    <img src="{% static 'gemini/IU.JPG' %}"  width="10" height="10" >
{% endif %}

<table  border="1" width="700" >
<tr align="center"><td>번호</td><td >작성자</td>
    <td >설명</td><td>파일명</td><td>이미지</td>
    <td>날짜(삭제)</td> </tr>
{% for gemini in li  %}
<tr>
<td align="center" > {{ gemini.id }}   </td>
<td align="center"> {{ gemini.name }}</td>
<td align="center"> {{ gemini.explain }}</td>
<td align="center"> {{ gemini.filename }}</td>
<td align="center"> <img src="{% static 'gemini/'|add:gemini.filename %}"  width="20" height="20" ></td>
<td align="center">
     <a href="{% url 'gemini_delete' gemini.pk %}" >
       {{ gemini.today|date:"Y년 m월 d일 H:i:s" }}
     </a>
</td>
</tr>
<tr> <td colspan="8"> {{ gemini.aiexplain }}  </td> </tr>
{% endfor %}
</table>


<script>
    document.getElementById("giminiForm").onsubmit = function(event){
        var fileInput = document.getElementById("fileInput");
        var explain = document.getElementById("explain");
        var name = document.getElementById("name");

        if (!fileInput.files.length) {
          alert("파일을 첨부해 주세요")
          event.preventDefault();

        } else if (!name.value.trim()){
          alert("이름을 추가해 주세요")
          event.preventDefault();

        } else if(!explain.value.trim()){
          alert("설명을 추가해 주세요")
          event.preventDefault();
        }

    }
</script>

</div>

{% include  'bottom.html' %}
