@charset "UTF-8";
header{
 background:#0000ff; /* 배경색깔 */
 height:90px; /* 영역의 높이 */
 line-height:90px; /* 라인높이  */
 color:#ffffff;   /* 흰색 글자 */
 font-size:30px;  /* 글자 사이즈 */
 text-align:center; /* 글자 정렬 */
}
nav{
 background:#0088ff;
 height:35px;
 line-height:35px;
 color:#ffffff;
 font-size:14px;
}

section{
 background:#eaeaea;
 min-height:770px;
 line-height:35px;
 font-size:14px;

}

footer{
 background:#0000ff;
 height:40px;
 line-height:40px;
 color:#ffffff;
 font-size:14px;
 text-align:center;
}

nav a{
  text-decoration:none;
  color:#ffffff;
}